
.btnDiv {
display: flex;
align-items: center;
    justify-content: center;
} 

.divImg {
    display: flex;
align-items: center;
    justify-content: center;
}

.nextBtn {
    width: 95%;
}

.onboardingImg {
/* height: 200px ; */
width: 95%;
border-radius: 20px;
margin-bottom: 30px;
border: 1px solid #168acd;
/* border: 1px solid black; */
}

.onboardingImg2 {
/* height: 200px ; */
/* width: 95%; */
height: 350px;
border-radius: 20px;
margin-bottom: 30px;
border: 1px solid #168acd;
}