.balancePartWrapper {
  padding: 20px 0px 0px 0px;
}

.textBalanceWrapper {
  display: flex;
  justify-content: center;
  /* padding: 20px 0px 0px 0px; */
}

.balanceText {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
}

.textUnderBalance {
    color:#999999;
}

.valuteText {
  color: #40a7e3;
  text-transform: uppercase;

}

.symbol {
    color:#999999;
}

.imgBtn {
  width: 45px;
}

.wrapperAllButtons {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.wrapperOneButton {
  text-align: center;
}

.textForButton {
    color: #40a7e3;
    /* font-size: 0.8em; */
    font-weight: 600;
}

.cell {
      flex-direction: column;
}

.payinText {
     color: #51a972;
     text-transform: uppercase;
}

.payoutText {
     color: salmon;
     text-transform: uppercase;
     
}

.activiText {
    text-transform: uppercase;
}