.inputDiv {
    display: flex;
    justify-content: left;
    align-items: center;
    
}

.divVsImg {
    background-color: transparent;
}

.vsImg {
    width: 25px;
    /* padding-left: 40px; */
}

.errorText {
  color: salmon;
}

.wrapperButtons {
    display: flex;
    gap:40px;
}

.wrapperActionBtn {
    display: flex;    
    width: 96%;
    

    
}

.buyBtn {
    background-color:#5bb98c;
    padding: 0 30px;
    opacity: 60%;
}

.buyActionBtn {
    background-color:#5bb98c;
    /* margin: 0 20px 0 20px; */
    margin-left: 20px;
    
}

.sellBtn {
    background-color:#eb9091;
    padding: 0 30px;
    opacity: 60%;
}

.sellActionBtn {
    background-color:#eb9091;
    /* margin: 0 20px 0 20px; */
    margin-left: 20px;
    
}

.activeBtn{
    border: 2px solid black;
    opacity: 100%;
}


.wrapperPriceDiv {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap:25px;
}

/* //FIXME: DELETE AFTER TEST */
.testBtn {
    background-color:#0800ff;
    margin-left: 20px;
    margin-bottom: 20px;
}

.wrapperActionBtn {
    display: flex;    
    width: 96%;
    
}

.actionBtn {
    /* background-color:#5bb98c; */
    /* margin: 0 20px 0 20px; */
    margin-left: 20px;
    margin-bottom: 15px;
    
}

.cnlBtn {
    background-color:#f01b1f;
    margin-left: 20px;
    margin-bottom: 15px;

}

.statsWrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 23px;
    margin-right: 20px;

}


.subheadline {
    color: grey
}

.statsSpan{
    margin-right: 15px;
}