.inputDiv {
    display: flex;
    justify-content: left;
    align-items: center;
    
}

.divVsImg {
    background-color: transparent;
}

.vsImg {
    width: 25px;
    /* padding-left: 40px; */
}

.errorText {
  color: salmon;
}
